body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: xxx-large;
    flex-direction: row;
}

.container {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.button {
    width: 200px;
    height: 200px;
    border: 5px solid green;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 20px;
  }

.content {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50vh;
    top: 0;
    height: 500px;
    width: 500px;
    overflow: auto; /* Enable scroll if needed */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }